@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap");
@import "./settings";
@import "./../../node_modules/material-design-icons/iconfont/material-icons.css";
@import "./nav";
@import "./todos/add";
@import "./todos/list";

.material-icons {
  font-size: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: Raleway, sans-serif;
}

.container {
  width: 50vw;
  margin: 0 auto;
}

.brand {
  margin: 3rem 0;
  text-align: center;
  color: $gray1;
}

.todos {
  margin-block-start: 1rem;
}

.footer {
  position: fixed;
  width: inherit;
  bottom: 1rem;
  color: $gray4;
  display: flex;
  justify-content: center;
  text-align: center;
}
