// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap");
@import "./settings";
// @import "./../../node_modules/material-design-icons/iconfont/material-icons.css";
@import "./nav";
@import '../components/addTodo/add';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDFFFC !important;
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-list{
  margin-top: 20px;
  text-align: center;
}


.brand {
  margin: 3rem 0;
  text-align: center;
  color: $gray1;
}

.style1{
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.style2{
  flex: 1;
  text-align: center;
}