@import "./settings";
@import "./nav";
@import '../components/addTodo/add';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDFFFC !important;
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-list{
  margin-top: 20px;
  text-align: center;
}


.brand {
  margin: 3rem 0;
  text-align: center;
  color: $blue2;
}

.style1{
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.style2{
  flex: 1;
  text-align: center;
}